//--- colores
$black: #000000;
$yellow: #FFC528;
$light: #F9DF6F;
$dark-yelow: #EEAA3A;
$base: #F2F2F2;
$gradient:linear-gradient(-90deg, #925F19 0%, #D4AB33 22%, #EEC98A 44%, #D4AB33 70%, #BE7D11 100%);
$gradient-hover:linear-gradient(-269deg, #BE7D11 1%, #EEC98A 44%, #D4AB33 70%, #BE7D11 100%); 