@import '_colors.scss';
@import '_general.scss';

section#hero{
	background-image: url(../assets/mariee_fold.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	margin: auto;
	height:100%;
	text-align: center;
	color: $base;
	font-weight: 200;
	position: relative;
	z-index: 333;
	@media screen and (max-width: 800px){
		height: 600px;
	}
	#ornamento{
		display: block;
		float: left;
		left: -30px;
		position:relative;
		z-index: 1;
		@media screen and (max-width: 800px){
			display: none;
		}
	}
	#contenedor_hero{
		width: 60%;
		display: block;
		text-align: left;
		height: 476px;
		margin: auto;
		position: absolute;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
		z-index: 999;
		@media screen and (max-width: 800px){
			h1{
				width: 200px;
				margin: auto;
			}
			.boton.secundario{
				margin: auto;
				width: 100%;
				padding-left: 0px;
				padding-right: 0px;
				text-align: center;
			}
		}
	}
	header a:hover{
		text-shadow: 0px 0px 20px $base;
	}
	h2{
		font-size: 50px;
		color: $base;
		@media screen and (max-width: 800px){
			font-size: 15px !important;
		}
	}
	p{
		text-align: left;
		width: 400px;
		margin: 50px 0px;
		position: relative;
		font-size: 25px;
		@media screen and (max-width: 800px){
			width: 90%;
			text-align: center;
			margin: 70px auto;
			font-size: 20px;
		}
	}
	a.arrow{
		color: rgba($base, .6);
		font-weight: 200;
		margin: 40px auto;
		position: absolute;
		left: 0px;
		right: 0px;
		text-align: center;
		transition: .5s;
		&::before{
			content: url("../assets/arrow.png");
			transform: scale(.4);
			position: absolute;
			top: 2em;
			left: 0;
			right: 0;
		}
		&:hover{
			color: rgba($base, 1);
		}
	}
}



section#body{
	padding: 2em 0 7em;
	background: #FAFAFA;
	position: relative;
	height: auto;
	z-index: 6666;
	#contenedor{
		width: 100% !important;
		text-align: center;
		height: 476px;
		margin: auto;
		@media screen and (max-width: 800px){
			height: 1600px;
		}
		div.skew{
			width: 100%;
			margin: -60px auto;
			height: 500px;
			text-align: center;
			background: url("../assets/bg_skew_2.png");
			background-size: 100% 100%;
			@media screen and (max-width: 800px){
				background: none !important;
			}
			.card{
				width: 750px;
				height: 300px;
				margin: auto;
				position: relative;
				top: 90px;
				@media screen and (max-width: 800px){
					width: 90%;
					margin: 150px auto;
				}
				
				.right, .left{
					width: 46%;
					height: auto;
					display: inline-block;
					@media screen and (max-width: 800px){
						width: 90%;
					}
				}

				.left{
					float: left;
					@media screen and (max-width: 800px){
						float: none;

					}
					img{
						width: 80%;
						float: left;
						@media screen and (max-width: 800px){
							width: 200px;
							margin: auto;
							float: none;
						}
					}
				}

				.right{
					float: right;
					padding-top: 1em;
					@media screen and (max-width: 800px){
						float: none;
						h3{
							text-align: center;
							margin: 10px auto;
						}
						.boton.terciario{
							margin: 20px auto;
							width: 100%;
						}
					}
					p{
						font-size: 15px;
						text-align: left;
						margin: 30px auto;
						@media screen and (max-width: 800px){
							text-align: center;
							margin: auto;
						}
					}
				}
			}
		}

		div.skew:first-child{
			background: url("../assets/bg_skew.png");
			background-size: 100% 100%;
		}
		div.skew:last-child{
			background: url("../assets/bg_skew.png");
			background-size: 100% 100%;
		}
	}
}
	