@import '_colors.scss';

section#hero{
	background-image: url(../assets/mariee_fold.jpg);
	background-size: cover;
	width: 100%;
	height: auto;
	text-align: center;
	padding: 0 5% 4% 5%;
	color: $base;
	font-weight: 200;
	h2{
		color: $base;
	}
	p{
		text-align: center;
		width: 40%;
		margin: -15px auto 10px;
	}
	a.arrow{
		color: rgba($base, .6);
		font-weight: 200;
		position: relative;
		text-align: center;
		transition: .5s;
		&::before{
			content: url("../assets/arrow.png");
			transform: scale(.4);
			position: absolute;
			top: 2em;
			left: 0;
			right: 0;
		}
		&:hover{
			color: rgba($base, 1);
		}
	}
}

section#body{
	padding: 2em 0 7em;
	div#contenedor{
		div.card{
			width: 32%;
			display: inline-block;
			margin: 3em .3em;
			height: 200px;
			img{
				width: 235px;
				margin: auto;
			}
		}
		p{
			font-weight: 200;
			margin: auto;
			width: 70%;
		}
	}

}
