@import '_colors.scss';
@import '_general.scss';

section#body {
    padding:0em;
}

section#hero{
	background-image: url(../assets/mariee_nosotros_bg.jpg);
	background-position: center middle;
	background-size: cover;
	width: 100%;
	overflow: hidden;
	height:350px;
	text-align: center;
	color: $base;
	font-weight: 200;
	position: relative;
	top: -20px;
	z-index:3;
	.logo{
		width: 129px;
		height: auto;
		position: relative;
		margin: 80px auto 0px;

	}
	.ornamento{
		position: absolute;
		left: 0px;
		top: -190px;
		@media screen and (max-width: 650px){
			display: none;
		}
	}
	h2{
		color: $base;
	}
}

section#body img.nosotros{
	width: 170px;
	height: 170px;
	margin: -100px auto 30px;
	position: relative;
	z-index:99;
}

section#body #contenedor{
	width: 90%;
	padding-top: 80px;
}


section#body #contenedor div#aliados{
	background: #FFFFFF;
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
	cursor: pointer;
	border-radius: 4px;
	width: 45%;
	margin: 6em auto 3em;
	height: auto;
	padding-bottom: 5%;
	padding-top: 10px;
	text-align: center;
	display: inline-block;
	&:first-child{
		width: 60%;
		margin: auto;
		border: solid 1px #BE7D11;
	}
	&:hover{
		box-shadow: 0px 0px 80px 0px rgba(0,0,0,0.3);

	}
	@media screen and (max-width: 700px){
		width: 90% !important;
	}
	.info{
		text-align: center;
		width: 90%;
		margin: auto;
		font-size: 15px;
		color: #595959;
		p{
			width: 100% !important;
		}
		h3{
			text-align: center;
			color: $dark-yelow;
		}
		.avatar{
			width: 100px;
			height: 100px;
			overflow: hidden;
			border-radius: 50%;
			margin: -50px auto 0px;
			position: relative;
			img{
				width: 100%;
				height: auto;
			}
		}
	}
}



