@import '_colors.scss';
@import '_general.scss';

section#hero{
	background-image: url(../assets/mariee_nosotros_bg.jpg);
	background-position: top;
	background-size: 130%;
	width: 100%;
	height:auto;
	text-align: center;
	padding: 0 5% 1% 7%;
	color: $base;
	font-weight: 200;
	position: relative;
	z-index:3;
	header a:hover{
		text-shadow: 0px 0px 20px $base;
	}
	h2{
		color: $base;
	}
}

section#body img.nosotros{
	width: 170px;
	height: 170px;
	margin: -100px auto 30px;
	position: relative;
	z-index:99;
}


section#body{
	div#contenedor p.nosotros_texto{
		width: 50%;
		margin: auto;
	}
}
