@import '_colors.scss';
@import '_general.scss';

section#body {
    padding:0em;
}

section#hero{
	background-image: url(../assets/mariee_nosotros_bg.jpg);
	background-attachment: fixed;
	background-position: middle;
	background-size: 120% auto;
	width: 100%;
	overflow: hidden;
	height:450px;
	text-align: center;
	color: $base;
	font-weight: 200;
	position: relative;
	top: -20px;
	z-index:3;
	.logo{
		width: 129px;
		height: auto;
		position: relative;
		margin: 80px auto 0px;

	}
	.ornamento{
		position: absolute;
		left: 0px;
		top: -190px;
	}
	h2{
		color: $base;
	}
}

section#body img.nosotros{
	width: 170px;
	height: 170px;
	margin: -100px auto 30px;
	position: relative;
	z-index:99;
}


section#body{
	div#contenedor p.nosotros_texto{
		width: 800px;
		display: block;
		margin: -100px auto 0px;
		padding: 5em 3em 12em 3em;
		box-shadow: 0px 0px 12px rgba($black, .1);
		position: relative;
		z-index: 3333;
		background: white;
	}
	div#contenedor .boton.principal{
		top: -160px;
		position: relative;
		z-index: 44444;
	}
}
