@import '_colors.scss';
@import '_general.scss';

section#hero{
	background-image: url(../assets/mariee_nosotros_bg.jpg);
	background-attachment: fixed;
	background-position: middle;
	background-size: 120% auto;
	width: 100%;
	overflow: hidden;
	height:350px;
	text-align: center;
	color: $base;
	font-weight: 200;
	position: relative;
	top: -20px;
	z-index:3;
	.logo{
		width: 129px;
		height: auto;
		position: relative;
		margin: 80px auto 0px;

	}
	.ornamento{
		position: absolute;
		left: 0px;
		top: -190px;
	}
	h2{
		color: $base;
	}
}

section#body img.nosotros{
	width: 170px;
	height: 170px;
	margin: -100px auto 30px;
	position: relative;
	z-index:99;
}

section#body #contenedor{
	width: 90%;
}


section#body #contenedor div#servicio{
	background: #FFFFFF;
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
	border-radius: 4px;
	width: 30%;
	margin: 1em auto;
	overflow: hidden;
	height: auto;
	padding-bottom: 40px;
	padding-top: 10px;
	text-align: center;
	display: inline-block;
	@media screen and (max-width: $medium){
		width: 90% !important;
	}
	a.boton.terciario{
		width: 100%;
		margin: auto;
		float: left;
		text-align: center;
		position: relative;
	}
	.info{
		text-align: center;
		width: 90%;
		margin: auto;
		font-size: 15px;
		color: #595959;
		p{
			width: 100% !important;
		}
		h3{
			text-align: center;
			color: grey;
			&:first-child{
				color: $dark-yelow;
			}
		}
	}
}



