@import '_colors.scss';
@import '_general.scss';

section#hero{
	background-image: url(../assets/mariee_servicios.jpg);
	background-position: middle;
	background-size: 130%;
	width: 100%;
	height:auto;
	text-align: center;
	padding: 0 5% 1% 5%;
	color: $base;
	font-weight: 200;
	position: relative;
	header a:hover{
		text-shadow: 0px 0px 20px $base;
	}
	h2{
		color: $base;
	}
}



