@import '_colors.scss';
@import '_general.scss';

section#body {
    padding:0em;
}


section#hero{
	background-image: url(../assets/mariee_nosotros_bg.jpg);
	background-position: middle center;
	background-size: cover;
	width: 100%;
	overflow: hidden;
	height:450px;
	text-align: center;
	color: $base;
	font-weight: 200;
	position: relative;
	top: -20px;
	z-index:3;
	.logo{
		width: 129px;
		height: auto;
		position: relative;
		margin: 80px auto 0px;

	}
	.ornamento{
		position: absolute;
		left: 0px;
		top: -190px;
		@media screen and (max-width: 650px){
			display: none;
		}

	}
	h2{
		color: $base;
	}
}


section#body #contenedor{
	width: 1000px;
	background: white;
	height: 600px;
	margin: -100px auto;
	top: -100px;
	position: relative;
	z-index: 3333;
	box-shadow: 0px 0px 12px rgba($black, .2);
	@media screen and (max-width: 1000px){
		width: 90%;
	}
}





