@import '_colors.scss';
@import '_general.scss';

section#body {
    padding:0em;
}


section#hero{
	background-image: url(../assets/mariee_nosotros_bg.jpg);
	background-attachment: fixed;
	background-position: middle;
	background-size: 120% auto;
	width: 100%;
	overflow: hidden;
	height:450px;
	text-align: center;
	color: $base;
	font-weight: 200;
	position: relative;
	top: -20px;
	z-index:3;
	.logo{
		width: 129px;
		height: auto;
		position: relative;
		margin: 80px auto 0px;

	}
	.ornamento{
		position: absolute;
		left: 0px;
		top: -190px;
	}
	h2{
		color: $base;
	}
}


section#body #contenedor{
	width: 1000px;
	height: 600px;
	margin: -100px auto;
	top: -100px;
	position: relative;
	z-index: 3333;
	box-shadow: 0px 0px 12px rgba($black, .2);
}





